.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

form {
    width: 30%;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

input {
    width: 100%;
    height: 30px;
    margin: 10px 0 10px 0;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus {
    outline: none;
    border: 2px solid #007bff;
}

button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

button:focus {
    outline: none;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-top: 10px;
    font-size: 14px;
}